[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wuc/Desktop/main.o]
row=4
col=0

[/home/wuc/Desktop/episodes.html]
row=1
col=0

[/home/wuc/Desktop/main.cpp]
row=0
col=0

[/home/wuc/Desktop/main.exe]
row=2
col=0

[/home/wuc/Desktop/main]
row=3
col=0

