[Desktop Entry]
Name=Opera
GenericName=Web Browser
Comment=Fast and secure web browser and Internet suite
Exec=/usr/bin/opera %U
Terminal=false
Icon=opera-browser
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-XFCE-Source=file:///usr/share/applications/chromium.desktop
Path=
StartupNotify=true
