[Desktop Entry]
X-SuSE-translate=true
Name=DrRacket
Categories=Development;IDE;
GenericName=Scheme programming
Comment=Programming environment for the Scheme programming language
Exec=drracket
Terminal=false
Icon=drracket
Type=Application
Encoding=UTF-8
X-XFCE-Source=file:///usr/share/applications/drracket.desktop
