[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wuc/Desktop/MSYHBD.TTC]
row=3
col=0

[/home/wuc/Desktop/SIMSUNB.TTF]
row=0
col=0

[/home/wuc/Desktop/MSYH.TTC]
row=1
col=0

[/home/wuc/Desktop/MSYHL.TTC]
row=2
col=0

